*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
    --orange: #ff7143;
    --blue: #5454d4;
    --background: #f9f8fe;
}

body{
    font-family: 'Inter', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
}

.container-app{
    padding: 0;
}

.nav{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu{
    background-color: var(--blue);
    width: 35px;
    cursor: pointer;
    z-index: 100;
    border-radius: 6px;
}

.nav-list{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--blue);
    padding: 80px 0;
    display: grid;
    place-content: center;
    list-style: none;
    text-align: center;
    gap: 2.5rem;
    transform:  translate(100%);
    transition: transform 0.3s;
}

.nav-list-show{
    transform: translate(0);
}

.nav-link{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

/* app-main */

.app-main{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.app-figure{
    order: -1;
    padding: 20px 0;
}

.app-img{
    width: 100%;
    display: block;
    max-width: 400px;
    margin: 0 auto;
}

.app-texts{
    display: grid;
    gap: 1.5rem;
    text-align: center;
    padding-bottom: 70px;
}

.app-title{
    font-size: 3rem;
}

.app-paragraph{
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: .5rem;
}

.app-cta{
    background-color: var(--blue);
    text-decoration: none;
    color: white;
    padding: 1em 3em;
    justify-self: center;
    border-radius: 6px;
}

.about{
    background-color: var(--background);
}

.about-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-img{
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 280px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
    background-color: bisque;
    /* futura sombra */
    /* box-shadow: ; */
    border-radius: 50%;
}

.about-texts{
    text-align: center;
    display: grid;
    gap: 1.5rem;
}

.subtitle{
    text-align: center;
    font-size: 2.1rem;
}

.paragraph{
    line-height: 1.5;
    font-weight: 300;
}

/* foods */

.foods-articles{
    margin-top: 3rem;
    display: grid;
    gap: 3rem;
}

.foods-article{
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

.foods-img{
    width: 70%;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    background-color: thistle;
    /* falta la sombra */
}

/* activity */

.activity{
    background-color: var(--background);
    text-align: center;
}

.activity-img{
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    display: block;
}

.activity-texts{
    display: grid;
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.activity-cta{
    background-color: var(--blue);
    color: white;
    padding: 1em 3em;
    text-decoration: none;
    justify-self: center;
    border-radius: 6px;
    font-weight: 700;
}

.curiosities{
    background-image: linear-gradient(#19181bc0, #171719e3), url(../assets/fondo.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.curiosities-container{
    display: grid;
    gap: 2.5rem;
}

.curiosities-item{
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
}

.curiosities-title{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.curiosities-cta{
    text-decoration: none;
    color: white;
    background-color: var(--orange);
    padding: 1rem 3rem;
    justify-self: center;
    border-radius: 6px;
    font-weight: 700;
}